.model {
    display: flex;
    justify-content:space-around;
}
.model img {
    width: 300px;
}
.kinh {
    margin-top: 60px;
}
.kinh img {
    width: 100px;
margin: 10px;
}
.anhKinh img {
    width: 100px;
margin-top: 70px;
border: 1px red solid;
}
.mau{
    width: 150px;
    position: absolute;
    top: 90px;
    left: 23rem;
}
.anhKinh{
    display: flex;
}